body {
    font-family: arial;
}

.title {
    background-color: rgb(240, 237, 64);
}

tr:nth-child(even) {
    background-color: rgb(133, 209, 240);
}

.tc {
    text-align: center;
}


@media print {
    div.divFooter {
        position: fixed;
        background: url(http://path/to/image.png);
        height: 100px;
        /* put the image height here */
        width: 100px;
        /* put the image width here */
        bottom: 0;
    }
}